<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#ffffff">

        <!-- Open Graph -->
        <meta property="og:site_name" content="SongTreasures" />
        <meta property="og:url" content="https://songtreasures.app" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="SongTreasures" />
        <meta property="og:description" content="A collection of christian songs and melodies." />
        <meta property="og:image" content="<%= BASE_URL %>img/link_preview.png" />
        <meta property="og:image:secure_url" content="<%= BASE_URL %>img/link_preview.png" />
        <meta property="og:image:alt" content="SongTreasures logo" />
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />

        <link rel="icon" href="/favicon.ico">
        <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">
        <title>SongTreasures</title>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but SongTreasures doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>

        <script type="module" src="/src/main.ts"></script>
        <!-- Feedback widget setup -->
        <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
		<style type="text/css" media="screen, projection">
			@import url("https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css"); 
		</style>
    </body>
</html>
