@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(.5em);
        opacity: 0;
    }
    to {
        tranform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(1em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growFromLeft {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes buttonLoading {
    from {
        opacity: 1;
    }
    to {
        opacity: .7;
    }
}

@keyframes appearFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}