// Loading circle
.loader {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

    &:after {
        content: '';
        width: 100px;
        height: 100px;

        border-radius: 100%;
        border-bottom: 10px solid var(--st-primary-color);
        border-top: 10px solid var(--st-primary-color);
        border-left: 10px solid var(--st-primary-color);
        border-right: 10px solid transparent;

        animation: loading 1s infinite linear;
    }

}

.clickable {
    transition: transform .2s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px -5px rgba(black, 0.1);
    }
}

// Tag
.tag {
    border: 1px solid var(--st-primary-color);
    color: var(--st-primary-color);
    border-radius: var(--st-border-radius);
    padding: .5em;
    font-size: .7em;
    text-transform: uppercase;
    margin-right: calc(var(--st-spacing)/2);
    margin-bottom: var(--st-spacing);

    &.empty {
        border: 1px solid var(--st-text-color);
        color: var(--st-text-color);
        opacity: .6;
    }
}

.slideIn {
    animation: slideInFromBottom .5s ease;
}

.selectable {
    transition: transform .2s;
    cursor: pointer;

    &:hover {
        transform: translateX(3px);
    }
}

// Container with max-width
.container {
    max-width: var(--st-max-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--st-spacing);
    word-wrap: break-word;
}

.disabled {
    color: var(--st-border-color);
    cursor: not-allowed;
}

// Standard elements
select {
    background: var(--st-background-color);
    border: 1px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    color: var(--st-text-color);
    padding: calc(var(--st-spacing)*.5);
}

input[type=text], input[type=email] {
    padding: calc(var(--st-spacing)*.5);
    background: transparent;
    border: 1px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    color: var(--st-text-color);
    height: 100%;
}

input[type=file] {
    padding: calc(var(--st-spacing)*.5);
    background: transparent;
    border: 1px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    color: var(--st-text-color);
    height: 100%;
    width: auto;

    &::-webkit-file-upload-button {
        display: none;
    }
}

textarea {
    padding: var(--st-spacing);
    background: transparent;
    border: none;
    border: 1px solid var(--st-border-color);
    border-radius: var(--st-border-radius);
    color: var(--st-text-color);
    font-family: inherit;
    resize: none;
}

button {
    padding: .5em;
    background: var(--st-primary-color);
    color: white;
    border: none;
    border-radius: var(--st-border-radius);
    cursor: pointer;

    &[secondary] {
        background: var(--st-background-color);
        color: var(--st-text-color);
        border: 1px solid var(--st-border-color);
        font-weight: 400;
    }
}

section {
    padding: calc(var(--st-spacing) * 2) 0;
}

p {
    font-family: var(--st-secondary-font-family);
}

hr {
    border: 1px solid var(--st-border-color);
    margin: var(--st-spacing) 0;
}