// Loading circle
.loader {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

    &:after {
        --size: 60px;
        content: '';
        width: var(--size);
        height: var(--size);

        border-radius: 100%;
        border-bottom: 10px solid var(--st-color-primary);
        border-top: 10px solid var(--st-color-primary);
        border-left: 10px solid var(--st-color-primary);
        border-right: 10px solid transparent;

        animation: loading 1s infinite linear;
    }

}

.clickable {
    transition: transform .2s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px -5px rgba(black, 0.1);
    }
}

// Tag
.tag {
    border: 1px solid var(--st-color-primary);
    color: var(--st-color-primary);
    border-radius: var(--st-border-radius);
    padding: .5em;
    font-size: .7em;
    text-transform: uppercase;
    margin-right: calc(var(--st-spacing)/2);
    margin-bottom: var(--st-spacing);

    &.empty {
        border: 1px solid var(--st-text-color);
        color: var(--st-text-color);
        opacity: .6;
    }
}

.slideIn {
    animation: slideInFromBottom .5s ease;
}

.selectable {
    transition: transform .2s;
    cursor: pointer;

    &:hover {
        transform: translateX(3px);
    }
}

// Container with max-width
.container {
    max-width: var(--st-max-width);
    width: 100%;
    margin: 0 auto;
    padding: var(--st-spacing);
    word-wrap: break-word;
}

.disabled {
    color: var(--st-color-border);
    cursor: not-allowed;
}