*,
*:before,
*:after {
	box-sizing: border-box;
	outline-color: var(--st-color-primary);
    font-family: var(--st-font-family);
}

body {
	margin: 0;
	overflow-y: overlay;
}

select {
    background: var(--st-color-background-light);
    border: 1px solid var(--st-color-border);
    border-radius: var(--st-border-radius);
    color: var(--st-color-text);
    padding: calc(var(--st-spacing)*.5);
}

input[type=text], input[type=email] {
    padding: calc(var(--st-spacing)*.5);
    background: var(--st-color-background-light);
    border: 1px solid var(--st-color-border);
    border-radius: var(--st-border-radius);
    color: var(--st-color-text);
    height: 100%;
}

input[type=file] {
    padding: calc(var(--st-spacing)*.5);
    background: var(--st-color-background-light);
    border: 1px solid var(--st-color-border);
    border-radius: var(--st-border-radius);
    color: var(--st-color-text);
    height: 100%;
    width: auto;

    &::-webkit-file-upload-button {
        display: none;
    }
}

textarea {
    padding: var(--st-spacing);
    background: var(--st-color-background-light);
    border: none;
    border: 1px solid var(--st-color-border);
    border-radius: var(--st-border-radius);
    color: var(--st-color-text);
    font-family: inherit;
    resize: none;
}

button {
    padding: calc(var(--st-spacing)/2);
    background: var(--st-color-primary);
    color: white;
    border: none;
    border-radius: var(--st-border-radius);
    cursor: pointer;
}

section {
    padding: calc(var(--st-spacing) * 2) 0;
}

p {
    font-family: var(--st-font-family);
	font-size: .8em;
    line-height: 1.5em;
}

hr {
    border: 1px solid var(--st-color-border);
    margin: var(--st-spacing) 0;
}