@mixin breakpoint($breakpoint) {
	$breakpoints: (
		'small': 620px,
		'medium': 1000px,
		'large': 1200px
	) !default;

	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (max-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin scrollShadow($color: white) {
	background:
	/* Shadow covers */ linear-gradient($color 30%, rgba(255, 255, 255, 0)),
	  linear-gradient(rgba(255, 255, 255, 0), $color 70%) 0 100%,
	  /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
	  radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) 0 100%;
	background:
	/* Shadow covers */ linear-gradient($color 30%, rgba(255, 255, 255, 0)),
	  linear-gradient(rgba(255, 255, 255, 0), $color 70%) 0 100%,
	  /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),
	  radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) 0 100%;
  
	background-repeat: no-repeat;
	background-color: $color;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
  
	-ms-overflow-style: none;
  }