:root {
    --primary-color: #5372e2;
    --border-color: #d0d0d0;
    --text-color: #333333;
    --background-color: #ffffff;
    --secondary-background-color: #eaeaea;

    --border-radius: 5px;
    --spacing: 1rem;
}