:root {
    // Colors
    --st-primary-color: #5372e2;
    --st-border-color: #d0d0d0;
    --st-text-color: #333333;
    --st-background-color: #ffffff;
    --st-secondary-background-color: #eaeaea;

    // Layout
    --st-border-radius: 5px;
    --st-spacing: 1rem;
}