:root {
    // Colors
    --st-primary-color: #5372e2;
    --st-border-color: #d0d0d0;
    --st-text-color: #333333;
    --st-background-color: #ffffff;
    --st-secondary-background-color: #eaeaea;

    --st-success-color: #57ce69;
    --st-warning-color: #e4ba2f;
    --st-error-color: #e63737;

    // Layout
    --st-border-radius: 5px;
    --st-spacing: 1rem;
}